* {
    box-sizing: border-box;
}

body {
    background: #FFFEFD;
    box-shadow: inset 0px 0px 250px 25px rgba(254, 153, 0, 0.15);
    font-family: 'Lexend Deca' !important;
    font-size: 16px;
    margin: 0;
    min-height: 100vh;
    /*overflow-x: hidden;*/
    padding-bottom: 100px;
}

#main {
    margin: 0 auto 50px auto;
    max-width: 900px;
    padding-top: 115px;
}
@media (max-width: 1020px) {
    #main {
        padding: 115px 15px 0 15px;
        width: calc(100% - 30px);
    }
}

h1 {
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;    
}





/** COMMON CLASSES */

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.text-center {
    text-align: center;
}

.inline {
    display: inline-block;
}

.centered {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.rotate-180 {
    display: inline-block;
    transform: rotate(180deg);
}

.no-bottom-margin {
    margin-bottom: 0;
}

.pull-right {
    float: right;
}

.no-break {
    /* nothing to do */
}
@media (min-width: 768px) {
    .no-break {
        white-space: nowrap;
    }
}

.date {
    color: #0000CC;
    font-size: 15.5px;
    font-weight: 300;
    line-height: 19px;
}




/** HEADER */

#header-buttons-cta {
    display: none;
}

header {
    background: linear-gradient(92.49deg, rgba(254, 153, 0, 0.8) 4.16%, #FFC46B 37.72%, #0000CC 100.33%);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    color: white;
    height: 55px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
#header-logo {
    background: white;
    border-radius: 50px;
    box-shadow: 0 2px 10px 0px #e0e0e0;
    display: inline-block;
    margin: 10px 0 0 80px;
    padding: 10px 25px 10px 15px;
}
#header-logo img {
    width: 150px;
}

#eu-logo-container {
    left: 280px;
    position: fixed;
    top: 5px;
}

@media (max-width: 920px) {
    #header-logo {
        margin-left: 30px;
    }
    #header-logo img {
        width: 100px;
    }
    #eu-logo-container {
        left: 180px;
    }
}
@media (max-width: 400px) {
    #eu-logo-container {
        top: 10px;
    }
    #eu-logo-container img {
        width: 100px;
    }
}


#header-buttons {
    float: right;
    margin: 10px 55px 10px 0;
}
#header-buttons img {
    filter: invert(1);
    vertical-align: middle;
}
#header-logout {
    display: inline-block;
}
#header-buttons .header-button {
    background: #FFE6C5;
    border: 0;
    border-radius: 3.5px;
    color: #0000CC;
    cursor: pointer;
    font-size: 16.5px;
    font-weight: 500;
    line-height: 20px;
    padding: 6px 13.5px;
    text-decoration: none;
    text-transform: capitalize;
}
#header-buttons .header-button:hover {
    background: #f4dbbb;
}
.header-button-item {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}
.header-button-item button {
    background: none;
    border: 0;
    color: white;
    cursor: pointer;
}
.header-button-item:hover, .header-button-item button:hover {
    color: #f0f0f0!important;
}

@media (max-width: 920px) {
    #header-buttons-cta {
        cursor: pointer;
        display: block;
        font-size: 20px;
        margin-top: -7px;
        padding: 20px;
        position: fixed;
        left: calc(100vw - 60px);
        top: 0;
    }
    #header-buttons-cta:hover {
        font-weight: 700;
    }
    #header-buttons {
        background: white;
        border-bottom-left-radius: 10px;
        box-shadow: 0 0 10px 3px #5555;
        float: none;
        margin: 0;
        max-width: 280px;
        padding: 10px 20px 0px 10px;
        position: fixed;
        left: calc(100vw - 240px);
        top: 0;
        transform: translate(900px, 0);
        transition: transform .5s;
        z-index: 4;
    }
    #header-buttons img {
        filter: none;
    }
    .header-button-item, .header-button-item button{
        color: #303030;
    }
    .header-button-item:hover, .header-button-item button:hover {
        color: #808080 !important;
    }
    .header-button-item button {
        padding: 0;
    }
    #header-buttons.shown {
        transform: translate(0, 0);
        transition: transform .3s;
    }
    #header-buttons .header-button-item {
        display: block;
        margin: 10px;
        width: 100%;
    }
    #header-buttons .header-button:hover {
        background: none;
    }
    #header-buttons .header-button {
        background: none;
        display: block;
    }
}










/** PAGE TITLE AND INFO */

.title-container {
    text-align: center;
}
.title {
    border-bottom: 2px solid #0000CC;
    display: inline-block;
    font-size: 26px;
    font-weight: 375;
    line-height: 30px;
    margin: 0;
    padding: 10px 14px;
}
.page-info {
    color: #0000CC;
    display: block;
    font-size: 12px;
    line-height: 15px;
    margin: 12.5px auto 30px auto;
    text-align: center;
    text-transform: capitalize;
}






/** INPUTS */

select {
    cursor: pointer;
}

select, input, button {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
}

input[disabled], select[disabled] {
    background: #f0f0f0 !important;
}




/** TABLES */

table {
    width: 100%;
}
td, th {
    text-align: left;
}


.dataTables_wrapper .dataTables_filter input,
.dataTables_wrapper .dataTables_length select {
    background: #FEF5E8;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.085);
    padding: 2.5px 10px;
}

.dataTables_filter, .dataTables_length, .dataTables_info, .dataTables_paginate {
    color: #000033;
    font-size: 14.5px;
    font-weight: 365;
    letter-spacing: 0.01em;
    line-height: 165%;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, 
.dataTables_wrapper .dataTables_paginate .paginate_button, 
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 0 !important;
    border-radius: 100px;
    color: #000033;
    height: 29px;
    margin: 5px !important;
    padding: 2.5px 10px !important;
    width: 28px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, 
.dataTables_wrapper .dataTables_paginate a.paginate_button:hover {
    background: #FEF5E8 !important;
    color: #000033 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.next,
.dataTables_wrapper .dataTables_paginate .paginate_button.next:hover {
    width: auto;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    background: none !important;
}

table.dataTable thead>tr>th.sorting:before, table.dataTable thead>tr>th.sorting_asc:before, table.dataTable thead>tr>th.sorting_desc:before, table.dataTable thead>tr>th.sorting_asc_disabled:before, table.dataTable thead>tr>th.sorting_desc_disabled:before, table.dataTable thead>tr>td.sorting:before, table.dataTable thead>tr>td.sorting_asc:before, table.dataTable thead>tr>td.sorting_desc:before, table.dataTable thead>tr>td.sorting_asc_disabled:before, table.dataTable thead>tr>td.sorting_desc_disabled:before,
table.dataTable thead>tr>th.sorting_asc:before, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc:before, table.dataTable thead>tr>td.sorting_desc:after,
table.dataTable thead>tr>th.sorting:after, table.dataTable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>th.sorting_asc_disabled:after, table.dataTable thead>tr>th.sorting_desc_disabled:after, table.dataTable thead>tr>td.sorting:after, table.dataTable thead>tr>td.sorting_asc:after, table.dataTable thead>tr>td.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc_disabled:after, table.dataTable thead>tr>td.sorting_desc_disabled:after {
    font-size: 140%;
}

.sorting_asc::before {
    color: #FE9900;
}
.sorting_desc::after {
    color: #FE9900;
}










/** INFO AND ALERT */

.alert, .info {
    background: #FFFEFD;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 2.5px 100px rgb(0 0 51 / 25%);
    margin: 0 auto;
    max-width: 500px;
    padding: 20px 73px 55px 73px;
}
.alert {
    background: #fffafa;
    border: 4px solid #d06767;
}
.info-icon {
    display: block;
    margin: 0 auto;
    max-width: 200px;
}

.info .button {
    margin-top: 50px;
}








/* BUTTONS */

.button-container {
    margin: 20px auto;
    text-align: center;
}

.button.primary, .button.secondary {
    background: #FFFEFD;
    border-radius: 20px;
    color: #0000CC;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-weight: 300;
    line-height: 28px;
    padding: 7.5px 17.5px;
    text-align: justify;
    text-decoration: none;
    text-transform: capitalize;
}

.button.primary {
    border: 1px solid orange;
    font-size: 18.5px;
}
.button.secondary {
    border: 0;
    box-shadow: 0px 1.75px 4px rgba(0, 0, 0, 0.125);
    font-size: 16.5px;
}

.button span, .button p {
    pointer-events: none;
}
.button img {
    margin-left: 11px;
    pointer-events: none;
    vertical-align: middle;
}
.button img.arrow-back {
    margin-left: 0;
    margin-right: 11px;
}


.button.primary:hover, .button.secondary:hover {
    background: #FFFBF5;
    box-shadow: 0px 1.75px 4px rgba(0, 0, 0, 0.125);
}

.button.primary:focus, .button.secondary:focus {
    box-shadow: 0px 1.75px 4px rgba(0, 0, 0, 0.125);
}
.button.primary:focus {
    border-color: #0000CC;
}
.button.secondary:focus {
    background: #FFFEFD;
}

.button.primary[disabled], .button.secondary[disabled] {
    background: #FFFEFD;
    border-color: gray;
    box-shadow: none;
    color: #7F7A8D;
    cursor: default;
}
.button.primary[disabled] img , .button.secondary[disabled] img {
    opacity: .2;
}

.button.cancel {
    color: rgb(203, 16, 16);
}







/* FORMS */


.form-group {
    margin: 0 30px 30px 0;
    position: relative;
}

.form-group label {
    color: #FE9900;
    display: block;
    line-height: 15px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 6px;
}

.form-group-separator {
    clear: both;
    height: 30px;
    width: 100%;
}

.form-group .placeholder {
    bottom: 10px;
    color: #7F7A8D;
    line-height: 19px;
    font-size: 15.5px;
    font-weight: 300;
    left: 15px;
    pointer-events: none;
    position: absolute;
}

.form-group input[type="text"], .form-group input[type="email"], .form-group select {
    background: #FEF5E8;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.085);
    padding: 9px 20px 11.5px 15px;
}

.form-group input[type="text"] {
    width: 220px;
}

.form-group input[type="email"] {
    width: 300px;
}

.form-group select {
    appearance: none;
    -webkit-appearance: none;
    width: 160px;
}

.form-group select.long-select {
    width: 355px;
}

.form-group .arrow {
    bottom: 15px;
    pointer-events: none;
    position: absolute;
    right: 15px;
}







/** TABS */

#tabs-selector {
    background: linear-gradient(94.28deg, #FFF5E7 -18.14%, #FFAB2C 305.62%);
    border-radius: 10px 10px 0px 0px;
    padding: 5px 0;
    text-align: center;
}
.tab-selector {
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin: 10px 20px;
    text-transform: capitalize;
}
.tab-selector * {
    pointer-events: none;
}
.tab-selector:hover {
    color: #808080;
}
.tab-selector.disabled {
    color: #7F7A8D;
    cursor: default;
}
.tab-selector.disabled:hover {
    color: #7F7A8D;
}
.tab-selector:not(.disabled) {
    font-weight: 700;
}
.tab-selector-number {
    background: #FE9900;
    border-radius: 200px;
    color: white;
    display: inline-block;
    height: 18px;
    margin-right: 5px;
    padding: 1.5px 10px;
    width: 26px;
}
.tab-selector.disabled .tab-selector-number {
    background: #7F7A8D;
}
.tab-selector-separator {
    background: #7F7A8D;
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    width: calc(15% - 20px);
}

.tab {
    margin: 0 auto;
    max-width: 850px;
}

@media (max-width: 920px) {
    .tab-selector-separator {
        display: none;
    }
    .tab {
        margin: 0 20px;
        width: calc(100% - 40px);
    }
}




@media (max-width: 700px) {
    .small-hidden {
        display: none;
    }
    .info {
        padding: 40px 15px;
    }
    select.cloze {
        margin-left: 3px !important;
        margin-right: 3px !important;
        max-width: 170px;
    }
}






