#welcome-subtitle {
    color: #000033;
    font-size: 17px;
    font-weight: 300;
    line-height: 21px;
    margin-top: 10px;
    text-align: center;
}

#welcome-subtitle>div {
    display: inline-block;
}

#welcome-subtitle>div:nth-child(2), #welcome-subtitle>div:nth-child(3) {
    color: #0000CC;
    font-size: 14.5px;
    font-weight: 300;
    line-height: 18px;
    margin-left: 10px;
}

#navigation-container {
    height: 120px;
    margin-top: 40px;
    position: relative;
    text-align: center;
}


#navigation-container button img, #navigation-container a img {
    display: none;
}

@media (max-width: 700px) {
    #navigation-container {
        display: table;
        margin-bottom: 50px;
        text-align: center;
        width: 100%;
    }
    #navigation-container a {
        display: block;
        margin-bottom: 10px;
    }
    .form-group select.long-select, .form-group input[type="email"] {
        width: 270px;
    }
    #navigation-container a.selected button {
        border-color: #0000CC;
    }
}
@media (min-width: 700px) {

    #navigation-container button img, #navigation-container a img {
        display: block;
    }
    #navigation-container button button, #navigation-container a button {
        display: none;
    }
        
    #navigation-container button, #navigation-container a {
        background: none;
        border: 0;
        cursor: pointer;
        display: inline-block;
    }

    #navigation-container button img, #navigation-container a img {
        pointer-events: none;
    }
    #navigation-container button .normal-state, #navigation-container a .normal-state {
        display: block;
    }
    #navigation-container button .hover-state, #navigation-container a .hover-state {
        display: none;
    }

    #navigation-container button:hover .normal-state, #navigation-container a:hover .normal-state, #navigation-container button.selected .normal-state, #navigation-container a.selected .normal-state {
        display: none;
    }
    #navigation-container button:hover .hover-state, #navigation-container a:hover .hover-state, #navigation-container button.selected .hover-state, #navigation-container a.selected .hover-state {
        display: block;
    }

    #registry-nav-button {
        left: calc(50% - 52.5px - 52.5px - 100px);
        position: absolute;
        top: 0;
    }
    #registry-nav-button:hover, #registry-nav-button.selected {
        left: calc(50% - 99.5px - 52.5px - 100px);
        position: absolute;
        top: -49px;
    }
    
    #report-nav-button {
        left: calc(50% - 52.5px);
        padding: 0;
        position: absolute;
        top: 0;
    }
    #report-nav-button:hover, #report-nav-button.selected {
        left: calc(50% - 99.5px);
        position: absolute;
        top: -49px;
    }
    
    #profile-nav-button {
        left: calc(50% + 52.5px + 48.5px);
        position: absolute;
        top: 0;
    }
    #profile-nav-button:hover, #profile-nav-button.selected {
        left: calc(50% + 5.5px + 48.5px);
        position: absolute;
        top: -49px;
    }
    
}


