

#last-lu-title {
    border-bottom: 1px solid #FE9900;
    color: #0000CC;
    font-size: 36px;
    font-weight: 365;
    letter-spacing: 0.01em;
    line-height: 165%;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

#last-lu {
    margin-bottom: 60px;
    position: relative;
}

#last-lu .button {
    position: absolute;
    right: 0;
    top: -10px;
}

#last-lu-info {
    border-bottom: 1px solid #FE9900;
    display: inline-block;
    padding-bottom: 20px;
    vertical-align: top;
    width: calc(100% - 230px);
}
@media (max-width: 600px) {
    #last-lu-info {
        border-bottom: 0;
        width: 100%;
    }
    #last-lu .button {
        position: relative;
    }
}

#last-lu-info span {
    margin-right: 22px;
}

#last-lu-info span:nth-child(1) {
    color: #0000CC;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    text-transform: capitalize;
}

#last-lu-info span:nth-child(2), #last-lu-info span:nth-child(3) {
    color: #000033;
    font-size: 14px;
    font-weight: 365;
    letter-spacing: 0.01em;
    line-height: 120%;
    text-transform: capitalize;
}

#last-lu-info span:nth-child(4) {
    color: #7F7FE4;
    font-size: 15.5px;
    font-weight: 365;
    line-height: 120%;
    text-transform: capitalize;
}

#completed-lus {
    color: #0000CC;
    font-size: 22.5px;
    font-weight: 365;
    letter-spacing: 0.01em;
    line-height: 165%;
    margin-bottom: 0;
}






#registry-table_wrapper {
    margin-top: 20px;
}




