body {
    overflow-y: scroll; /* ;) */
}

#ia-next-container {
    background: #FFFEFD;
    border-radius: 10px;
    box-shadow: 0px 2.5px 100px rgba(0, 0, 51, 0.25);
    margin: 0 auto;
    max-width: 500px;
    padding: 20px 73px 55px 73px;
    position: relative;
    transform: translate(0, 100vh);
    z-index: 2;
}
#ia-next-container.shown {
    transform: translate(0, 0);
    transition: transform .6s;
}
@media (min-width: 1150px) {
    #ia-next-container.shown {
        transform: translate(0, -70px);
    }
}
@media (min-width: 1450px) {
    #ia-next-container.shown {
        transform: translate(0, -95px);
    }
}

.ia-next-lu {
    background: #fef5e8;
    display: block;
    margin: 0 0 25px 0;
    padding: 20px 25px;
    text-decoration: none;
}
.ia-next-lu * {
    pointer-events: none;
}
@media (max-width: 550px) {
    #ia-next-container {
        padding: 10px;
    }
    .ia-next-lu {
        padding: 10px 15px;
        width: 100%;
    }
}

.ia-next-lu-cluster {
    color: #FE9900;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin: 0 0 12px 0;
    text-transform: uppercase;
}

.ia-next-lu-title {
    color: #0000CC;
    font-size: 15.5px;
    font-weight: 450;
    line-height: 19px;
    margin: 0 0 12px 0;
    text-transform: capitalize;
}

.ia-next-lu-subtitle-container {
    height: 0;
    overflow: hidden;
}
.ia-next-lu-subtitle {
    color: #000033;
    font-size: 14.5px;
    font-weight: 250;
    letter-spacing: 0.015em;
    line-height: 140%;
    margin: 0 0 0 0;
    transition: height .4s;
    transition-timing-function: cubic-bezier(.47,1.64,.41,.8);
}
.ia-next-lu.shown {
    box-shadow: -5px 5px 10px rgba(229, 221, 209, 0.2), 5px -5px 10px rgba(229, 221, 209, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(229, 221, 209, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(229, 221, 209, 0.5);
    transition: box-shadow .4s;
    transition-timing-function: cubic-bezier(.47,1.64,.41,.8);
}

/***/
.ia-next-lu-0-shown .ia-next-lu-subtitle-container {
    transition: height .4s;
    transition-timing-function: cubic-bezier(.47,1.64,.41,.8);
}
.ia-next-lu-1-shown .ia-next-lu-subtitle-container {
    transition: height .4s;
    transition-timing-function: cubic-bezier(.47,1.64,.41,.8);
}
.ia-next-lu-2-shown .ia-next-lu-subtitle-container {
    transition: height .4s;
    transition-timing-function: cubic-bezier(.47,1.64,.41,.8);
}
/***/

#ia-next-info {
    margin: -3px 0 0 100px;
    position: absolute;
}

#ia-next-icon {
    width: 105px;
}


.ops-error {
    background: #fcf0f0;
    border: 1px solid #f9f0f0;
    padding: 10px;
}


#try-again-button-container {
    margin-top: 30px;
}



.waiter {
    background-color: white;
    border-radius: 40px;
    display: inline-block;
    height: 30px;
    width: 30px;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-name: example;
}
.waiter:nth-child(2) {
    animation-delay: .15s;
}
.waiter:nth-child(3) {
    animation-delay: .30s;
}
.waiter:nth-child(4) {
    animation-delay: .45s;
}

/* The animation code */
@keyframes example {
    0% { background-color: white; }
    50% { background-color: orange; }
    100% { background-color: white; }
}