html {
    min-height: 100vh;
    max-width: 100%;
    /*border-width: 0px 5px;
    border-style: solid;
    border-color: #fe9900;*/
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Lexend Deca";
    text-align: justify;
    hyphens: auto;
  }
  
  .mainDiv {
    margin: 0px 15%;
    padding-top: 100px;
  }
  
  .titleImg {
    width: 50%;
    margin-top: 0px;
    animation: 1s ease-out 0s 1 slideInFromRight;
  }
  
  .pageContent {
    animation: 1s ease-out 0s 1 slideInFromBottom;
  }
  
  .welcomeP {
    font-size: 18.5px;
    margin-top: 70px;
  }
  
  .welcomeP > span {
    font-size: 21px;
    font-weight: 400;
  }
  
  .welcomeP > b {
    font-size: 25px;
  }
  
  .readBtn {
    border: 1px solid #fe9900;
    border-radius: 20px;
    background: white;
    padding: 7.5px 17.5px;
    cursor: pointer;
    scroll-margin: 5vh;
    /*animation: ease-in-out 3s infinite floatUpDown;*/
  }
  
  .readBtn > span {
    margin-right: 7.5px;
    font-size: 18.5px;
  }
  
  .readBtn:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    background: #fff9ef;
  }
  
  .objectivesP > span {
    color: #fe9900;
    font-weight: 700;
    font-size: 18px;
  }
  
  .ulGrid {
    margin-top: 65px;
    margin-bottom: 70px;
    margin-left: 100px;
  }
  
  .ulGridElem {
    display: inline-grid;
    grid-template-columns: min-content auto;
    gap: 15px;
  }
  
  .ulGridElem > img {
    width: 20px;
    height: 20px;
  }
  
  .ulGridElem:not(:last-child) {
    margin-bottom: 30px;
  }
  
  .infoP {
    font-size: 15px;
  }
  
  #eu-disclaimer {
    color: #414CCB;
    display: inline-block;
    font-size: 10px;
    font-weight: 300;
    line-height: 15px;
    max-width: 330px;
    min-width: 200px;
    text-transform: capitalize;
    width: calc(100% - 300px);
  }
  #eu-logo.supportImg {
    display: inline-block;
    float: right;
    width: 20vw;
    margin-bottom: 20px;
  }
  
  .logos {
    border-top: 1px solid #fe9900;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0% 10%;
  }
  
  .logoHref {
    margin: 10px;
  }
  
  .logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .readBtn,
  .infoP {
    margin-bottom: 60px;
  }
  
  .ulGridElem > img,
  .ulGridElem > p {
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .readBtn > img,
  .readBtn > span {
    vertical-align: middle;
  }
  
  .objectivesP,
  .infoP > a {
    font-size: 16.5px;
  }
  
  .titleImg,
  .readBtn,
  .supportImg {
    display: block;
    margin-left: auto;
  }
  
  .titleImg,
  .readBtn {
    margin-right: auto;
  }
  
  .titleImg,
  .supportImg {
    height: auto;
  }
  
  .welcomeP,
  .objectivesP,
  .infoP,
  .readBtn > span {
    line-height: 27.5px;
    font-weight: 300;
  }
  
  .welcomeP > span,
  .readBtn > span {
    color: #0000cc;
  }
  
  .readBtn,
  .objectivesP {
    margin-top: 55px;
  }
  
  @media (max-width: 900px) {
    .mainDiv {
      margin: 0px 5%;
    }
  }
  
  @media (max-width: 600px) {
    .mainDiv {
      margin: 0px 10%;
    }
  
    .ulGrid {
      margin-left: 0px;
    }
  
    .supportImg {
      width: 80%;
      margin-right: auto;
    }
  
    .logos {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }
  
  @keyframes slideInFromRight {
    0% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromBottom {
    0% {
      transform: translateY(50%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes floatUpDown {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(30%);
    }
    100% {
      transform: translateX(0);
    }
  }




#central-buttons {
  text-align: center;
}

#central-buttons .button {
  vertical-align: middle;
}

#central-buttons a {
  margin-left: 45px;
}



@media (max-width: 550px) {
  #central-buttons {
    margin-bottom: 50px;
  }
}