#tabs-selector {
    margin-bottom: 20px;
    max-width: 430px;
}


.lu-content {
    border-right: 1px solid orange;
    margin: 0 0px 40px -10px;
    padding: 0 10px 10px 10px;
}
@media (max-width: 920px) {
    .lu-content {
        border-right: 0;
    }
}

.lu-go-to-test-container {
    margin: 70px 0 0 0;
    text-align: right;
}


.lu-identifier {
    text-align: right;
    width: 100%;
}
.lu-identifier p {
    margin: 0;
}

.lu-cluster {
    margin-bottom: 55px;
    text-align: right;
    width: 100%;
}
.lu-cluster p {
    color: #FE9900;
    display: inline-block;
    font-size: 19px;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
    max-width: 400px;
    text-transform: uppercase;
}

.lu-title {
    margin: 0 0 10px 0;
}
.lu-title h1 {
    color: #0000CC;
    font-size: 27px;
    font-weight: 550;
    line-height: 34px;
    margin: 0;
}

.lu-subtitle {
    margin-bottom: 40px;
}
.lu-subtitle h2 {
    font-size: 19px;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
}

.lu-introduction {
    color: #000033;
    font-size: 16.5px;
    font-weight: 400;
    line-height: 140%;
}

.lu-clil {
    margin-top: 40px;
}

.lu-clil a {
    color: #3366CC;
    display: block;
    font-size: 15.5px;
    font-weight: 350;
    line-height: 19px;
    text-decoration-line: underline;
    text-transform: capitalize;
}

.lu-paragraph {
    border-left: 3px solid #f7f6f5;
    color: #000033;
    font-size: 17px;
    font-weight: 365;
    letter-spacing: 0.01em;
    line-height: 165%;
    margin: 80px 0;
    padding: 0 30px 10px 30px;
    position: relative;
}
.lu-paragraph:before {
    background: orange;
    border-radius: 50%;
    content: ' ';
    height: 13px;
    left: -11px;
    position: absolute;
    top: -16px;
    width: 13px;
}
.lu-paragraph:after {
    background: orange;
    content: ' ';
    height: 100%;
    left: -6px;
    position: absolute;
    top: 0;
    width: 2px;
}

.lu-memory-box {
    background: #FFFEFD;
    border: 2px solid #0000CC;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 65px auto;
    max-width: 500px;
    padding: 20px 25px;
    position: relative;
}
.lu-memory-box-lamp {
    position: absolute;
    right: -23px;
    top: -57px;
    width: 79px;
}

.lu-memory-box * {
    border: 0!important;
}

.lu-image {
    display: block;
    margin: 50px auto 80px auto;
    width: calc(100% - 150px);
}
.lu-image img {
    background: #FFFEFD;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 6.65354px;
    width: 100%;
}
.lu-image.lu-image-small {
    text-align: center;
}
.lu-image.lu-image-small img {
    width: auto;
}

.lu-audio {
    margin: 30px 0 40px 0;
    text-align: center;
}

.lu-references {
    color: #888;
    font-size: 14px;
    font-weight: 365;
    letter-spacing: 0.01em;
    line-height: 135%;
    margin: 80px 0;
    position: relative;
    word-break: break-word;
}


.language-point-cta {
    background: #FEF5E8;
    border: 2px solid transparent;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    padding: 15px 25px;
    width: 280px;
}
.language-point-cta:hover {
    border: 2px solid #FE9900;
}
.language-point-cta * {
    pointer-events: none;
}
.language-point-cta img {
    float: right;
}
.language-point-cta p {
    color: #0000CC;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin: 10px 0 0 0;
    text-transform: capitalize;
}
.language-point-cta span {
    color: #0000CC;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-transform: capitalize;
}
#language-point {
    background: #00000050;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
#language-point-container {
    background-color: white;
    border: 2px solid #FE9900;
    border-radius: 0 30px 0 30px;
    box-shadow: 10px 10px 150px 10px #555;
    color: #0000CC;
    display: block;
    padding: 20px;
    position: relative;
    margin: 0 auto;
    height: 40vh;
    min-width: 300px;
    max-width: 700px;
    top: 25vh;
    transform: translate(0, 100vh);
}
#language-point-container.shown {
    transform: translate(0, 0);
    transition: transform .6s;
}
#language-point-content {
    display: block;
    height: calc(40vh - 40px);
    overflow-y: auto;
    padding: 20px;
    position: relative;
    width: 100%;
}
#language-point-container .language-point-cta {
    position: absolute;
    top: -120px;
    right: 0px;
}




#lu-liked-box {
    border-top: 1px solid #0000CC;
    margin: 40px auto;
    max-width: 650px;
    padding: 10px 0;
}

#lu-liked-box-title {
    color: #000033;
    font-size: 20px;
    font-weight: 350;
    line-height: 25px;
    margin: 0 0 20px 0;
    text-transform: capitalize;
}

#lu-liked-box button {
    background-color: inherit;
    background-size: cover;
    border: 0;
    cursor: pointer;
    height: auto;
    margin: 0;
    position: relative;
    width: auto;

    margin: 10px;
    height: 65px;
    width: 65px;
}
#lu-liked-box button span {
    font-size: 12px;
    left: 0;
    line-height: 15px;
    position: absolute;
    top: 90px;
    width: 100%;
}

#lu-liked, #lu-not-liked {
    height: 65px;
    width: 65px;
}
#lu-liked img, #lu-not-liked img {
    left: 0;
    position: absolute;
    top: 0;
}

#lu-liked .like { display: block; }
#lu-liked .like-hover { display: none; margin: 0 0 0 -2px; }
#lu-liked .like-pressed { display: none; margin: 1px 0 0 -4px; }
#lu-liked .like-selected { display: none; margin: 2px 0 0 -4px; }
#lu-liked:hover .like { display: none; }
#lu-liked:hover .like-hover { display: block; }
#lu-liked:hover .like-pressed { display: none; }
#lu-liked:hover .like-selected { display: none; }
#lu-liked:focus .like { display: none; }
#lu-liked:focus .like-hover { display: none; }
#lu-liked:focus .like-pressed { display: block; }
#lu-liked:focus .like-selected { display: none; }
#lu-liked.active .like { display: none; }
#lu-liked.active .like-hover { display: none; }
#lu-liked.active .like-pressed { display: none; }
#lu-liked.active .like-selected { display: block; }

#lu-not-liked .dislike { display: block; }
#lu-not-liked .dislike-hover { display: none; margin: 0 0 0 -2px; }
#lu-not-liked .dislike-pressed { display: none; margin: 1px 0 0 -4px; }
#lu-not-liked .dislike-selected { display: none; margin: 2px 0 0 -4px; }
#lu-not-liked:hover .dislike { display: none; }
#lu-not-liked:hover .dislike-hover { display: block; }
#lu-not-liked:hover .dislike-pressed { display: none; }
#lu-not-liked:hover .dislike-selected { display: none; }
#lu-not-liked:focus .dislike { display: none; }
#lu-not-liked:focus .dislike-hover { display: none; }
#lu-not-liked:focus .dislike-pressed { display: block; }
#lu-not-liked:focus .dislike-selected { display: none; }
#lu-not-liked.active .dislike { display: none; }
#lu-not-liked.active .dislike-hover { display: none; }
#lu-not-liked.active .dislike-pressed { display: none; }
#lu-not-liked.active .dislike-selected { display: block; }



#lu-liked-box img {
    pointer-events: none;
}


.tab-selector:hover {
    color: inherit;
    cursor: inherit;
}