#congratulations-div .title-container {
    text-align: left;
}

#congratulations-div .title-container h1 {
    color: #000033;
    font-size: 24px;
    font-weight: 375;
    line-height: 30px;
    padding-left: 0;
}

#congratulations-div .page-info {
    color: #0000CC;
    font-size: 26px;
    font-weight: 375;
    line-height: 30px;
    text-align: left;
}

#score-info {
    color: #000033;
    margin-bottom: 0;
    margin-top: 45px;
    font-size: 20px;
    font-weight: 350;
    line-height: 25px;
}

#score-value {
    display: inline-block;
    text-align: center;
}

#know-more {
    color: #000033;
    font-size: 16.5px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 0;
    margin-top: 7px;
}

#clusters {
    margin-top: 29px;
}

#clusters label {
    color: #FE9900;
    font-size: 15.5px;
    font-weight: 550;
    line-height: 19px;
    margin-right: 10px;
    text-transform: capitalize;
}

progress {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    vertical-align: middle;
}
progress::-webkit-progress-bar {
    background-color: #FEF5E8;
    border: 1px solid #FE9900;
    border-radius: 80px;
}
progress::-webkit-progress-value {
    background-color: #FE9900;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
}
progress::-moz-progress-bar {
    background-color: #FEF5E8;
    border: 1px solid #FE9900;
    border-radius: 80px;
}


#what-to-do-next-container {
    margin-top: 80px;
    text-align: center;
    width: fit-content;
}
#what-to-do-next-container .button {
    margin-right: 25px;
}
#what-to-do-next-container p {
    color: #000000;
    font-size: 16.5px;
    font-weight: 350;
    line-height: 21px;
    text-transform: capitalize;
}


#main {
    position: relative;
}
#trophy, #exclamation, #getting-there {
    position: absolute;
    right: -100px;
    top: 0;
    z-index: -1;
}
@media (max-width: 950px) {
    #trophy, #exclamation, #getting-there {
        right: 0;
        width: 300px;
    }
}
@media (max-width: 700px) {
    #trophy, #exclamation, #getting-there {
        width: 200px;
    }
}
@media (max-width: 600px) {
    #trophy, #exclamation, #getting-there {
        display: none;
    }
}



.trophy-blink {
    opacity: 1;
}
.trophy-blink.blink {
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-name: blink;
    animation-timing-function: linear;
}

.trophy-blink-1 {
    transform-origin: 155px 159px;
    display: none;
}
.trophy-blink-2 {
    transform-origin: 321px 371px;
    display: none;
}
.trophy-blink-3 {
    transform-origin: 319px 154px;
    display: none;
}
.trophy-blink-4 {
    transform-origin: 176px 379px;
    display: none;
}

@keyframes blink {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: .2;
        transform: scale(.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#trophy {
    transform: translate(400px, 0) rotate(0);
    transform-origin: 50% 50%;
}

#trophy.shown {
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: trophy-showin;
    animation-timing-function: linear;
}

@keyframes trophy-showin {
    0% {
        transform: translate(400px, 0) rotate(0);
    }
    40% {
        transform: translate(0, 0) rotate(0deg);
    }
    45% {
        transform: translate(0, 0) rotate(-15deg);
    }
    95% {
        transform: translate(0, 0) rotate(-15deg);
    }
    100% {
        transform: translate(0, 0) rotate(0);
    }
}




#exclamation-1, #exclamation-2 {
    transform: translate(0, -400px);
}

#exclamation-1.shown, #exclamation-2.shown {
    animation-duration: .7s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: exclamation-showin;
    animation-timing-function: cubic-bezier(.47,1.64,.41,.8);
}

@keyframes exclamation-showin {
    0% {
        transform: translate(0, -100vh);
    }
    100% {
        transform: translate(0, 0);
    }
}



.unstroked {
    stroke-dasharray: 0, 1;
}

.stroked {
    stroke-dasharray: 1, 1;
    transition: stroke-dasharray 2s;
}


.score-0 {
    color: #be0a0a;
}
.score-1 {
    color: #be0a0a; /*#bea00a;*/
}
.score-2 {
    color: #639a00;
}
.score-3 {
    color: #009A2B;
}









#cards-parent-container {
    left: 0;
    position: fixed;
    top: 0;
    transform: translate(0vw, 0vh);
}
#cards-parent-container.running {
    transform: translate(-60vw, 0vh);
    transition: transform 8s;
    transition-timing-function: ease-out;
}


#cards-container {
    transform: translate(50vw, -100vh);
}
#cards-container.running {
    transform: translate(-50vw, 120vh);
    transition: transform 5s;
    transition-timing-function: linear;
}

.card-container {
    left: 50%;
    position: fixed;
    top: 50px;
    z-index: 3;
    transform: translate(0, -100px) rotate(20deg);
}

.card {
    background: green;
    height: 11px;
    transform: skew(10deg, 10deg);
    width: 6px;
    animation-duration: .2s;
    animation-iteration-count: infinite;
    animation-name: float;
    animation-timing-function: linear;
}

@keyframes float {
    0% {
        transform: skew(10deg, 10deg);
    }
    50% {
        transform: skew(-20deg, -20deg) scale(.5);
    }
    100% {
        transform: skew(10deg, 10deg);
    }
}






