#registry-top-info {
    color: #000033;
    font-size: 15.5px;
    font-weight: 300;
    line-height: 19px;
    margin-bottom: 40px;
}

#registry-page-icon {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1)) drop-shadow(0px 2.5px 75px rgba(254, 153, 0, 0.15));
    float: right;
    width: 70px;
}

#registry-table_wrapper {
    margin-top: 20px;
}




#registry-table {
    border-top: 1px solid #FE9900;
    width: 100%;
    border-collapse: collapse;
}


#registry-table td {
    background-clip: padding-box;
    border: 0px solid transparent;
}

#registry-table tr > td + td {
    border-left-width: 20px;
}

#registry-table tr + tr > td {
    border-top-color: #FEF5E8;
    border-top-width: 3.5px;
}




.dataTables_length {
    margin-bottom: 20px;
}

#registry-table tr {
    cursor: pointer;
}

#registry-table tr td * {
    pointer-events: none;
}

#registry-table tr:hover td {
    background: #fffaf6;
}

#registry-table th {
    border-bottom: 0.25px solid #000033;
    color: #000000;
    font-size: 17.5px;
    font-weight: 350;
    line-height: 22px;
    padding-bottom: 20px;
    padding-top: 24px;
    text-transform: capitalize;
}
#registry-table th:nth-child(1) {
    padding-left: 0;
}

#registry-table td:nth-child(1) {
    color: #0000CC;
    font-size: 15px;
    font-weight: 365;
    letter-spacing: 0.01em;
    line-height: 120%;
    text-decoration: none;
    text-transform: capitalize;
}

#registry-table td:nth-child(2) {
    color: #FE9900;
    font-size: 13px;
    font-weight: 450;
    letter-spacing: 0.01em;
    line-height: 120%;
    text-transform: capitalize;
}

#registry-table td:nth-child(3) {
    text-align: center;
}
#registry-table td:nth-child(3) img {
    vertical-align: middle;
    width: 23px;
}

#registry-table td:nth-child(4), #registry-table td:nth-child(5) {
    color: #000033;
    font-size: 13px;
    font-weight: 365;
    letter-spacing: 0.01em;
    line-height: 120%;
    text-transform: capitalize;
}

#registry-table td {
    background: #FFFEFD;
    padding: 18.5px 8.5px 15px 0;
}

