h2 {
    border-bottom: 1px solid orange;
    color: #0000CC;
    font-size: 36px;
    font-weight: 365;
    letter-spacing: 0.01em;
    line-height: 165%;
    padding-bottom: 10px;
}
h3 {
    color: #0000CC;
    font-family: 'Lexend Deca';
    font-size: 22.5px;
    font-weight: 365;
    letter-spacing: 0.01em;
    line-height: 165%;
    margin-top: 60px;
}
h4 {
    border-bottom: 1px solid #fe9900;
    color: #0000CC;
    display: inline-block;
    font-family: 'Lexend Deca';
    font-size: 18.5px;
    font-weight: 365;
    letter-spacing: 0.01em;
    line-height: 165%;
    margin-top: 20px;
    text-transform: capitalize;
}
.chart-container {
    margin-top: 20px;
    width: 100%;
}
.chart-indicator {
    color: #000033;
    display: inline-block;
    margin-right: 50px;
    vertical-align: top;
}
@media (max-width: 600px) {
    .chart-indicator {
        margin-bottom: 25px;
    }
}
.chart-indicator-title {
    border-bottom: 2px solid #FEF5E8;
    font-size: 13px;
    font-weight: 350;
    line-height: 16px;
    margin: 0;
    padding: 0 0 10px 0;
    text-transform: capitalize;
}
.chart-indicator-value {
    font-size: 11.5px;
    font-weight: 365;
    line-height: 120%;
    margin: 5px 0 0 0;
    text-transform: capitalize;
}

progress {
    border-radius: 10px;
    box-shadow: 0px 2.60909104347229px 1.739393949508667px 0px #0000000D;
    margin-bottom: 20px;
    width: 100%;
    height: 16px;
}
.short-progress-container {
    display: inline-block;
    margin: 0 3% 35px 0;
    width: 29%;
}
@media (max-width: 600px) {
    .short-progress-container {
        width: 100%;
    }
}
.short-progress-container label {
    color: #FE9900;
    display: inline-block;
    font-size: 13.5px;
    font-weight: 550;
    line-height: 17px;
    margin-bottom: 2px;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
}
.short-progress-container progress {
    height: 10px;
    margin: 0;
}
progress::-webkit-progress-bar {
    background-color: #FEF5E8;
    border: 1px solid #fe9900;
    border-radius: 10px;
}
progress::-webkit-progress-value {
    background-color: #fe9900;
    border-radius: 10px;
}
progress::-moz-progress-bar {
    background-color: #FEF5E8;
    border: 1px solid #fe9900;
    border-radius: 10px;
}
progress::-moz-progress-value {
    background-color: #fe9900;
    border-radius: 10px;
}

#learning-path-by-skill-legend {
    color: #000033;
    float: right;
    font-size: 12.5px;
    font-weight: 300;
    line-height: 16px;
    margin-top: 40px;
}
#learning-path-by-skill-legend * {
    display: inline-block;
    margin: 0;
}
#learning-path-by-skill-legend progress {
    height: 10px;
    margin: 0 5px 0 20px;
    width: 30px;
}

#trophies {
    margin: 40px 0 30px 0;
}
#trophies img {
    opacity: 0;
    width: 60px;
}
#trophies img.shown {
    opacity: 1;
    transition: opacity .3s;
}


#tests-overall-left, #tests-overall-right {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}
#tests-overall-left {
    margin-top: 80px;
}
#tests-overall-left>div {
    display: inline-block;
    margin-right: 60px;
}
#tests-overall-left p:nth-child(1) {
    border-bottom: 2px solid #FEF5E8;
    color: #000033;
    font-size: 16.5px;
    font-weight: 350;
    line-height: 21px;
    margin: 0;
    padding-bottom: 10px;
    text-transform: capitalize;
}
#tests-overall-left p:nth-child(2) {
    color: #000033;
    font-size: 20px;
    font-weight: 365;
    letter-spacing: 0.01em;
    line-height: 120%;
    margin: 2px 0 20px 0;
}
@media (max-width: 600px) {
    #tests-overall-left, #tests-overall-right {
        width: 100%;
    }
}
@media (max-width: 700px) {
    h2 button {
        display: none !important;
    }
}

.thumb-svg {
    margin: 60px 0 30px 0;
    vertical-align: top;
}
