

.page-title {
    color: #000000;
    font-size: 28.5px;
    font-weight: 350;
    line-height: 36px;
    margin-bottom: 0;
    margin-top: 40px;
    text-align: left;
    text-transform: capitalize;
}
.page-info {
    color: #0000CC;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    margin-top: 10px;
    text-align: left;
    text-transform: capitalize;
}




#soft-skill-preferences-container {
    font-size: 0;
}

.soft-skill {
    align-items : center;
    background-color: #FEF5E8;
    border: 2px solid transparent;
    border-radius: 5px;
    color: #FE9900;
    cursor: pointer;
    display : inline-flex;
    font-size: 13px;
    font-weight: 550;
    justify-content : center;
    line-height: 18px;
    margin: 25px;
    min-height: 65px;
    padding: 15px 18px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    width: calc(33.3% - 50px);
}

.soft-skill:hover {
    box-shadow: 0px 2.5px 10px rgba(0, 0, 0, 0.25);
}

/*.soft-skill:focus {
    border: 2px solid #5050D5;
    box-shadow: 0px 2.5px 10px rgba(0, 0, 0, 0.25);
}*/

.soft-skill.active {
    border: 3px solid #0000CC;
    margin: 24px 26px 24px 24px;
}

@media (max-width: 850px) {
    .soft-skill {
        margin: 5px;
        width: 100%;
        word-break: break-word;
    }
    .soft-skill.active {
        margin: 5px;
    }
}




#modal-confirm-message {
    background: rgba(0, 0, 0, .2);
    left: 0;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

#confirm-message {
    background: #FFFEFD;
    box-shadow: 0px 2.5px 100px rgba(0, 0, 51, 0.25);
    border-radius: 10px;
    line-height: 21px;
    font-size: 16.5px;
    font-weight: 350;
    left: calc(50% - 240px);
    padding: 22px 30px;
    pointer-events: none;
    position: absolute;
    transform: translate(0, 100vh);
    top: 30%;
    width: 480px;
}
@media (max-width:600px) {
    #confirm-message {
        width: 300px;
        left: calc(50% - 150px);
    }
    #confirm-message img:nth-child(1) {
        display: none;
    }
    #confirm-message img:nth-child(3) {
        display: block;
        margin: 30px auto 10px auto !important;
    }
}

#confirm-message.shown {
    transform: translate(0, 0);
    transition: transform .6s;
}

#confirm-message img {
    vertical-align: middle;
}
#confirm-message img:nth-child(1) {
    margin-right: 7px;
}
#confirm-message img:nth-child(3) {
    margin-left: 7px;
}


.clusters-block-accorder {
    background: #ffeacb;
    cursor: pointer;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
}
.clusters-block-accorder:hover {
    background: #fff1dd;
}
.clusters-block-accorder * {
    pointer-events: none;
}
.clusters-block {
    background: #fff9f0;
    padding: 10px;
}
.clusters-block.compressed {
    display: none;
}
.rotated {
    display: inline-block;
    transform: rotate(180deg);
}



#tab-self-assessment, #tab-learning-preferences {
    position: relative;
}
.events-blocking-overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}