#main {
    max-width: 1000px;
}


.test {
    margin: 50px 0 90px 0;
}

.test[completed="true"] {
    margin: 30px 0 90px 0;
}

.test-content {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.015em;
    line-height: 20px;
}

.test-question {
    color: #000033;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.015em;
    line-height: 24px;
    width: 100%;
}

.test-submit-container {
    margin: 30px auto 0 auto;
    text-align: center;
}



.test-content .form-group.inline {
    margin: 0;
}

.test-content .form-group.inline select {
    color: #000033;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.015em;
    line-height: 140%;
    margin: 4px 15px;
    padding: 6px 55px 6px 15px;
    width: auto;
}
.test-content .form-group.inline select:hover {
    background: #FFF0DB;
}

.test-content .form-group.inline .arrow {
    bottom: 16px;
    right: 30px;
}

.test-content .form-group.inline select[disabled="true"]:hover {
    cursor: default;
}






.test-result-ok, .test-result-almost, .test-result-ko {
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 200px;
}
.test-result-ok img, .test-result-almost img, .test-result-ko img {
    width: 200px;
}
.test-result-ok span, .test-result-almost span, .test-result-ko span {
    position: absolute;
    top: 75px;
    width: 100%;
}

.test-result-intro {
    background: #525d7d;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 5px 20px;
    width: auto;
}


.pair {
    margin-bottom: 30px;
}
.pair-key {
    background: #FEF5E8;
    border-color: #FE9900;
    border-style: solid;
    border-width: 0.5px 0.5px 0px 0.5px;
    color: #000033;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin: 7px 0;
    padding: 10px 7.5px;
}
.draggables-list {
    font-size: 0;
}
.draggable {
    background: #FFE2B8;
    color: #000033;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin: 0 25px 20px 0;
    padding: 5px;
}
.draggable[draggable="true"] {
    cursor: move;
}
.droppable {
    background: #FEF5E8;
    border: 1px dashed #FE9900;
    min-height: 35px;
    padding: 10px 35px 10px 7.5px;
}
.test[data-type="jumble-text"] .droppable {
    margin: 0 10px 10px 0;
    padding: 10px 7.5px;
}
.test[data-type="jumble-text"] .test-content {
    font-size: 0;
}
.inline-droppable {
    display: inline-block;
    min-width: 50px;
}

.droppable .draggable {
    margin: 0;
}
.test.dragging .droppable {
    border-width: 2px;
    padding: 9px 34px 9px 6.5px;
}
.test[data-type="jumble-text"].dragging .droppable {
    padding: 9px 6.5px;
}






.checkbox-container {
    background: #FEF5E8;
    color: #000033;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin: 0 0 5px 0;
    padding: 12px 38px 12px 38px;
}
.checkbox-container * {
    pointer-events: none;
}
.checkbox-container[disabled] {
    cursor: default;
}
.checkbox-container:not([disabled="true"]):hover {
    background: #FFF0DB;
}
.checkbox-container[checked="true"] {
    background: #FFEBCF;
}
.checkbox-container[checked="true"].correct {
    background: #D8FFD8;
}
.checkbox-container[checked="true"].wrong {
    background: #FFD8D8;
}
.checkbox-container:not([checked="true"]).correct {
    color: #009A2B;
    font-weight: 500;
}
.checkbox-container .as-checkbox {
    border: 2px solid #FE9900;
    border-radius: 5px;
    display: inline-block;
    height: 21px;
    margin-right: 10px;
    position: relative;
    width: 21px; 
}
.checkbox-container[checked="true"]  .as-checkbox::before {
    content: '\2713';
    left: 2px;
    position: absolute;
    top: -1px;
}
.checkbox-container[disabled="true"] .as-checkbox {
    border-color: #d0d0d0;
}
.checkbox-container label {
    display: inline-block;
    padding: 0;
    vertical-align: top;
    width: calc(100% - 40px);
}










.waiter div {
    background: orange;
    border: 1px solid brown;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin: 5px;
    width: 10px;
    animation-name: waiter;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.waiter div:nth-child(2) {
    animation-delay: .15s;
}
.waiter div:nth-child(3) {
    animation-delay: .30s;
}
.waiter div:nth-child(4) {
    animation-delay: .45s;
}
@keyframes waiter {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.7);
    }
    100% {
        transform: scale(1);
    }
}

.test-result {
    font-size: 50px;
    font-weight: 700;
    margin: 50px;
}
.test-result-ok {
    color: #4eac99;
}
.test-result-almost {
    color: #525d7d;
}
.test-result-ko {
    color: brown;
}


.cloze.selected {
    background: #FFEBCF;
}
.cloze.correct {
    background: #D8FFD8 !important;
}
.cloze.wrong {
    background: #FFD8D8 !important;
}
.multiple-choice-label {
    line-height: 22px;
    padding: 10px;
}
.droppable.correct {
    background: #D8FFD8 !important;
}
.droppable.wrong {
    background: #FFD8D8 !important;
}
.droppable.correct .draggable, .droppable.wrong .draggable {
    background: none;
}


#tests-recap {
    background-color: #fef8ee;
    border-top: 1px solid #a0a0a0;
    bottom: 0;
    left: 0;
    padding: 20px;
    position: fixed;
    text-align: center;
    width: 100%;
}
#tests-continue {
    display: block;
    margin: 20px 0;
}
#tests-continue .button {
    margin: 0 auto;
}
#completed-tests-amount {
    font-size: 130%;
    font-weight: 700;
}

#main {
    padding-bottom: 200px;
}

.test-type {
    border-right: 1px solid #0000CC;
    color: #000033;
    float: left;
    font-size: 0;
    font-weight: 450;
    line-height: 27px;
    margin-right: 28px;
    padding: 1px 17.5px 2px 0;
    text-transform: capitalize;
}

.test-number {
    color: #FE9900;
    font-size: 26.5px;
    font-weight: 450;
    line-height: 33px;
    margin-right: 9px;
}

.test-type span {
    font-size: 21.5px;
}

.test-hint {
    color: #000033;
    float: left;
    font-size: 14.5px;
    font-weight: 250;
    letter-spacing: 0.015em;
    line-height: 140%;
    margin-top: 10px;
}

.test-solution {
    color: #000033;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.015em;
    line-height: 24px;
    margin-top: 27px;
}

.lu-title {
    margin-bottom: 10px;
}


.test .mobile-device-hint {
    display: block;
    font-size: 11px;
    margin-bottom: 10px;
}

.droppable.highlight-droppability {
    border-width: 4px !important;
    padding-bottom: 7px !important;
    padding-left: 4.5px !important;
    padding-right: 4.5px !important;
    padding-top: 7px !important;
}


.multiple-choice-n-answers {
    color: #707070;
    font-size: 85%;
    font-style: italic;
    margin: 0 0 5px 0;
}