<template>
    <img src="assets/img/logo-clikc.png" alt="Logo Clikc" title="Logo Clikc" id="logo-clikc" />
</template>


<style scoped>
    #logo-clikc {
        height: auto !important;
        width: 100px !important;
    }
</style>